header.header
    .header__main
        .header__main-wrapper
            .header__logo
                a(href="index.html"): .icon.icon-logo
            .header__slogan 
                | ASSOCIATES<br />  
                | STUDIO<br />
                | DESIGN<br />
            .header__socials
                a(href="#" title="Мы в фейсбук"): .icon.icon-facebook
                a(href="#" title="Читайте новости"): .icon.icon-twitter
                a(href="#"): .icon.icon-linkedin
                a(href="#"): .icon.icon-google
    .header__nav
        .header__nav-wrapper
            .header__burger
                a(href="#").header__burger-link
                    .icon.icon-burger
            .header__address
                | 90802 California<br />
                | Long beach<br />
                | PO Box 68789<br />
                | 300 East Ocean <br />
                | Boulevard
            .header__contacts
                a(href="tel:+6493456758") +64 9 345 6758<br />
                a(href="mailto:info@dsgn-studio.com") info@dsgn-studio.com
        .header__nav-separator
        .header__nav-separator


