.projects
    .projects__nav
        .projects__nav-wrapper
            ul.projects__menu
                li.projects__menu-item.is-active
                    .icon.icon-arrow-white
                    a(href="#") All
                li.projects__menu-item
                    .icon.icon-arrow-white
                    a(href="#") House
                li.projects__menu-item
                    .icon.icon-arrow-white
                    a(href="#") Commercial
                li.projects__menu-item
                    .icon.icon-arrow-white
                    a(href="#") Personal
                li.projects__menu-item
                    .icon.icon-arrow-white
                    a(href="#") Studio Lab
                
            .projects__title
                h2 projects
        .projects__nav-separator
    .projects__content
        .projects__content-outer
            .projects__content-inner
                .projects__content-item.projects__content-item--big(style="background-image: url('/images/fondue.png')")
                    .projects__item-title FONDUE
                    .projects__item-description
                        b Project Assistant: 
                        | Francesco Dompieri<br />
                        b Material: 
                        | Glass and Metal<br />
                        b Typology: 
                        | Suspension lamp<br />
                        b Client: 
                        | David Design<br />
                        b Year: 
                        | 2014<br />
                    .projects__item-link
                        a(href="#")
                            .icon.icon-arrow-yellow
                            | view project
                    .projects__item-likes
                        a(href="#" title="Like если нравится!")
                            .icon.icon-heart
                        p +200
        .projects__content-outer
            .projects__content-inner
                .projects__content-item.projects__content-item--gray(style="background-image: url('/images/potter.png')")
                    .projects__item-title potter
                    .projects__item-description
                        | <b>for</b> stelton<br/>
                        span Potter focuses on the functiona<wbr>lity and process of preparing tea. a big sieve allows the flavor of to evenly brewed.  
                    .projects__item-link
                        a(href="#")
                            .icon.icon-arrow-yellow
                            | view project
                    .projects__item-likes
                        a(href="#")
                            .icon.icon-heart
                        p +200
                .projects__content-item.projects__content-item--revert(style="background-image: url('/images/fiji.png')")
                    .projects__item-title FIJI
                    .projects__item-description
                        | <b>designer:</b> Cuno Frommherz<br/>
                        | <b>Typology:</b> armchairs<br/>
                        | <b>Year:</b> 2012
                    .projects__item-link
                        a(href="#")
                            .icon.icon-arrow-yellow
                            | view project
                    .projects__item-likes
                        a(href="#")
                            .icon.icon-heart
                        p +200
