// Fonts
$RobotoCondensed: 'Roboto Condensed';
$ff-roboto: 'Roboto';

$colorGrayBG:   #e9eae2;
$colorGray:     #dfe0d9;

$colorGreen:    #7acec3;

$colorRed:      #ff0000;

$colorYellow:   #ebb240;
$colorYellow2:  #f8c255;

$colorBlack:    #333333;
$colorBlack2:   #383d3c;

$colorLight:    #fefefe;